<a href="https://colab.research.google.com/github/taesamja/AIpython/blob/master/%EB%AA%A8%EB%91%90%EC%9D%98%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기초문법

입력, 출력, 연산자, for 반복문, if 조건문, 리스트 등

In [3]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

names.append('부산기계')

for name in names:
  if len(name) > 2:
    print(name,'공업고등학교')     # 빈칸 만드는 것
    print(name + '공업고등학교')   # 빈칸 없이 이어서 출력

부산기계 공업고등학교
부산기계공업고등학교

## 1. 출력과 입력 그리고 변수

In [5]:
# 출력 : print() 함수로 출력하기

print(20**3) # 숫자출력 : 세제곱 계산하여 출력

print('Hello, World') # 문자열출력

8000
Hello, World

In [10]:
# 변수

school = '부산기계공고'  # 문자열 변수 선언 및 초기화
print(school)  # 변수를 이용하여 print함수 사용

a = 1024 # 변수의 이름은 사용자가 지정
print(a)

name = "전기과"
print(name+' 화이팅!!!')     # 일반적인 출력
print(f'{name} 화이팅!!!')   # f 포맷팅을 이용한 출력

print(2020, f'{name} 화이팅!!!') # 다양한 출력형태

부산기계공고
1024
전기과 화이팅!!!
전기과 화이팅!!!
2020 전기과 화이팅!!!

In [11]:
# 입력 : input() 함수로 문자열 값 입력받기

name = input()

print(name+'님! 안녕하세요!')
print(name, '님! 안녕하세요!')
print(f'{name}님! 안녕하세요!')

부기공
부기공님! 안녕하세요!
부기공 님! 안녕하세요!
부기공님! 안녕하세요!

In [12]:
# 입력 : 개선

name = input('이름을 입력해주세요 : ')

print(name+'님! 안녕하세요!')
print(name, '님! 안녕하세요!')
print(f'{name}님! 안녕하세요!')

이름을 입력해주세요 : 부기공
부기공님! 안녕하세요!
부기공 님! 안녕하세요!
부기공님! 안녕하세요!

In [14]:
# 입력 : 숫자 입력 경우

age = input('나이를 입력해 주세요 : ')

print(age-1) # 숫자 연산 후 출력 : 만 나이 계산 

# 에러 발생 : input()함수로는 문자열만 받음.
# unsupported operand type(s) for -: 'str' and 'int'

나이를 입력해 주세요 : 2020

TypeError: ignored

In [15]:
# 입력 : 숫자 입력 경우 - 해결책

age = input('나이를 입력해 주세요 : ')

print(int(age) -1) # 해결 : 입력받은 문자열 변수 age를 int 정수형으로 강제 형변환 후 처리

나이를 입력해 주세요 : 2020
2019

In [18]:
# 종합

name = input('이름을 입력해 주세요 : ')
age = int(input('나이를 입력해 주세요 : '))

print(f'안녕하세요! {name} 님! 저는 처음에 {str(age-4)}살인 줄 알았어요!!')

이름을 입력해 주세요 : 홍길동
나이를 입력해 주세요 : 30
안녕하세요! 홍길동 님! 저는 처음에 26살인 줄 알았어요!!

## 2. 연산자 사용하기
* +, -, **, = 등

In [20]:
# 산술 연산자

print(10 * 2)   # * : 곱셈 연산자
print(10 ** 2)  # ** : 거듭 제곱 연산자
print(10 % 2)   # % : 나머지 연산자
print(7 / 2)   # / : 실수 나눗셈
print(7 // 2)  # // : 정수 나눗셈 (몫만 나옴)

20
100
0
3.5
3

In [21]:
# 비교 연산자 (참:True, 거짓:False)

print(10 >= 2)
print(10 <= 2)
print(10 == 2)   # == : 같다
print(10 != 2)   # != : 같지 않다
print(10 % 2 == 1)

True
False
False
True
False

In [23]:
# 논리 연산자 (참:True, 거짓:False)
# and(둘 다 참일때 True), or(둘 중 하나만 참일 때 True), not(반전) 연산자

# and 연산자
print(1==1 and 2 != 1) # True and True => True
print(10 % 2 != 0 and 1 + 1 > 0 ) # True and False => False
print()

# or 연산자
print(10 < 5 or 10 == 5) # False or False => False
print(10 % 2 != 0 or 1 + 1 > 0) # False or True => True
print()

# not 연산자
print(not 10 > 5)   # not True => False
print(not 10 == 5)  # not False => True
print(not 0)        # 0은 False에 해당 : not False => True
print(not 10)       # 0을 제외한 수는 True에 해당 : not True => False

True
False

False
True

False
True
True
False

## 3. 함수 불러오기
* 내장 함수
* 내장 함수 외의 함수들을 불러올 때는 import 명령어 사용한다.
 * 사용 예 1 : import math
 * 사용 예 2 : import matplotlib.pyplot as plt ( 별칭 사용 )
 * 사용 예 3 : from math import sin ( 라이브러리 이름 제거할때 from사용)

In [26]:
# random 라이브러리 사용

import random

# randint() 함수는 입력되는 두 정수 사이의 숫자를 랜덤하게 생성하는 함수
# random.randint(a, b) : a 이상 b 이하의 한 개의 정수 생성
dice = random.randint(1, 6) 

print(dice)

6

In [27]:
# math 라이브러리 사용

import math

print(math.sqrt(2)) # sqrt() 함수는 제곱근 계산

1.4142135623730951

## 4. 반복과 선택

### 1) for 반복문
```
for A in B:       # 맨 뒤에 콜론 기호(:) 잊지 말기
    반복할 문장1    # 들여쓰기(문단구분)가 되어 있음
    ...
    반복할 문장n    # 보통 공백 문자([space]키) 4개로 사용
```
 * B는 데이터 세트를 의미
 * for 반복문은 주어진 데이터 세트를 순회하거나 원하는 횟수만큼 반복하고 싶을 때 사용
 * 즉, 데이터 세트에서 데이터를 하나씩 꺼내 와서 A에 임시로 저장

In [30]:
# for 반복문 - 1

name = '부산기계공고'

for i in name:
  print(i)

print()

for i in name:
  print(i, end='')

부
산
기
계
공
고

부산기계공고

In [32]:
# for 반복문 - 2

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

for name in names:
  print(name)

for name in names:
  print(name, end=' ')

정밀
폴리
산설
메카
로봇
전기
정밀 폴리 산설 메카 로봇 전기

In [33]:
# for 반복문 - 3

for i in [0, 1, 2, 3]:
  print(i ** 2)

for i in [0, 1, 2, 3]:
  print(i ** 2, end=' ')

0
1
4
9
0 1 4 9

In [34]:
# for 반복문 - 4

for i in range(10): # range(10) : 0 이상 10 미만의 범위를 갖는 정수 즉, 0~9까지 정수
  print(i ** 2)

for i in range(10):
  print(i ** 2, end=' ')

0
1
4
9
16
25
36
49
64
81
0 1 4 9 16 25 36 49 64 81

In [35]:
# for 반복문 - 5

for i in range(1, 10): # range(1, 10) : 1 이상 10 미만의 범위를 갖는 정수 즉, 1~9까지 정수
  print(i ** 2)

for i in range(1, 10, 2): # range(1, 10, 2) : 1 이상 10 미만의 범위를 갖는 정수 중 2씩 간격을 두고 생성 즉, 1, 3, 5, 7, 9
  print(i ** 2, end=' ')

1
4
9
16
25
36
49
64
81
1 9 25 49 81

### 2) if 조건문
```
if 조건:       # 맨 뒤에 콜론 기호(:) 잊지 말기
    조건이 참일 경우 실행할 문장1    # 들여쓰기(문단구분)가 되어 있음
    ...
    조건이 참일 경우 실행할 문장n    # 보통 공백 문자([space]키) 4개로 사용
```
 * if 조건문은 주어진 조건이 True(참)인 경우에만 명령을 선택적으로 실행하고 싶을 때 사용

In [36]:
# 기본 예

if 10 > 0:
  print('안녕하세요')

안녕하세요

In [37]:
if 10 != 0 and 5 % 2 == 1:
  print('안녕하세요')

안녕하세요

In [38]:
# 비밀번호 확인

passwd = int(input('비밀번호 4자리를 입력하세요 : '))

if passwd == 2020:
  print('비밀번호가 일치합니다.')

비밀번호 4자리를 입력하세요 : 2020
비밀번호가 일치합니다.

In [40]:
# 비밀번호 해킹 프로그램 (for문과 if문의 융합)

for i in range(1,10000):
  if i == 2020:
    print('비밀번호가 일치합니다.')
    print(f'비밀번호는 {i}입니다.')

비밀번호가 일치합니다.
비밀번호는 2020입니다.

In [41]:
# else 문 추가

passwd = int(input('비밀번호 4자리를 입력하세요 : '))

if passwd == 2020:
  print('비밀번호가 일치합니다.')
else :
  print('비밀번호가 일치하지 않습니다.')

비밀번호 4자리를 입력하세요 : 1234
비밀번호가 일치하지 않습니다.

In [45]:
# 심리게임 프로그램

print('[ 소름끼치도록 놀라운 심리테스트 ]')

menu = input('당신이 좋아하는 음식을 입력해주세요 : ')

if menu == '짜장면':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
elif menu == '아이스크림':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
elif menu == '사탕':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
else :
  print(f'당신은 짜장면, 아이스크림, 사탕을 좋아하지 않는 사람입니다.')

[ 소름끼치도록 놀라운 심리테스트 ]
당신이 좋아하는 음식을 입력해주세요 : 밥
당신은 짜장면, 아이스크림, 사탕을 좋아하지 않는 사람입니다.

## 5. 순서 있는 저장 공간 리스트
* 순서가 있는 데이터를 다룰 때, 리스트(List) 데이터 구조 사용

In [46]:
# 리스트에 저장된 위치(index)로 값에 접근하기 : indexing

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

for i in [0, 1, 2, 3, 4, 5]:
  print(names[i], end=' ')

print()

for i in range(6):
  print(names[i], end=' ')

정밀 폴리 산설 메카 로봇 전기
정밀 폴리 산설 메카 로봇 전기

In [49]:
# 리스트에 저장된 위치(index)로 값에 접근하기 : indexing(인덱싱)

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']
         # 0       1       2       3        4       5
         # -6     -5      -4      -3       -2       -1

print(names[0])   # 리스트 원소 중 제일 첫번째 요소
print(names[-1])  # 리스트 원소 중 제일 마지막 요소(뒤에서 첫번째 요소)

정밀
전기

In [51]:
# 리스트에 저장된 위치로 데이터의 일부 자르기 : slicing(슬라이싱)

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

print(names[0:2])
print(names[1:3])
print(names[1:])
print(names[:])

['정밀', '폴리']
['폴리', '산설']
['폴리', '산설', '메카', '로봇', '전기']
['정밀', '폴리', '산설', '메카', '로봇', '전기']

In [52]:
# 리스트에 값 추가하기 : append() 함수 사용

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

names.append('부기공')

print(names)

['정밀', '폴리', '산설', '메카', '로봇', '전기', '부기공']

In [55]:
# 리스트 길이 구하기 : len() 함수 사용

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

print(len(names))   # 리스트의 길이 출력하기
print(len('문자열의 크기를 구해봅시다.')) # 문자열의 길이 출력하기

6
15

In [56]:
# 종합

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

names.append('부산기계')

for name in names:
  if len(name) > 2:
    print(f'{name}공업고등학교')

부산기계공업고등학교